@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    letter-spacing: 0.25px;
}

.headerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;

    img{
        width: 150px;
    }

    .navLinks{
        display: flex;
        // text-decoration: none;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

        .navLink{
            margin-left: 20px;
            font-size: map-get($FontSize, regular);
            cursor: pointer;
        }
    }
}

.heroMain{
    width: 100%;

    img{
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .enquireMain{

        position: relative;
        top: -150px;

        .enquireBtn{
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: map-get($FontSize, medium );
            padding: 10px;
            border: none;
            border-radius: 50px;
            background-color: $primaryColor;
            width: 250px;
            margin: 0px 64px;
            
            .enquireCircleIcon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                // border: none;
                background-color: $secondaryColor;
            
            
            }

            
            &:hover{
                transition: all 0.3s ease-in-out;
                border-bottom: 10px solid black;

                svg{
                    transform: rotate(-20deg);
                }

            }

        }
      
    } 
    
}

.shortAboutContainer{
    padding: 0 64px;

    .shortAboutTop{
        display: flex;
        justify-content: space-between;

        .satLeft{
            width: 50%;
            max-width: 50%;
            border: 1px solid gray;
            border-radius: 45px;
            padding: 30px;
            margin-bottom: 24px;
            margin-right: 10px;
            font-size: map-get($FontSize, big);
           p{
            padding: 10px;

            .formenText{
                color: $accentColor;
            }
           }
        }
        
        .satRight{
            width: 50%;
            max-width: 50%;
            text-align: center;
            padding: 5px;
            height: 200px;
            border: 1px solid gray;
            border-radius: 45px;
            color: $primaryColor;
            background-color: $secondaryColor;

            .satTopNumber{
                display: flex;
                justify-content: space-between;
                
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .satTopText{
                text-align: left;
                width: 100%;
                p{
                    margin-top: -10px;
                    margin-left: 20px;
                    font-size: map-get($FontSize, medium );
                }
            }
        }
    }


    .shortAboutMiddle{
        display: flex;
        justify-content: space-between;

        .samLeft{
            width: 40%;
            max-width: 40%;
            text-align: center;
            height: 220px;
            max-height: 220px;

            img{
                object-fit: cover;
                height: 200px;
                width: 100%;
                border-radius: 55px;
            }
        }
        .samRight{
            width: 58%;
            max-width: 58%;
            text-align: center;
            padding: 10px;
            height: 200px;
            border: 1px solid gray;
            border-radius: 45px;

            .samTopNumber{
                display: flex;
                justify-content: space-between;
                
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .samTopText{
                text-align: left;
                width: 100%;
                

                p{

                  
                    margin-left: 20px;
                    font-size: map-get($FontSize, medium );
                    
                 
                }
            }
        }
    }

    .shortAboutBottom{
        display: flex;
        justify-content: space-between;

        .sabLeft{
            padding: 10px;
            width: 30%;
            border: 1px solid gray;
            border-radius: 45px;
            background-color: $accentColor;

            .sabLeftNumber{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .sabLeftText{
                font-size: map-get($FontSize, medium);
            }

        }

        .sabmLeft{
            padding: 10px;
            width: 30%;
            border: 1px solid gray;
            border-radius: 45px;
            background-color: $primaryColor;

            .sabmLeftNumber{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .sabmLeftText{
                font-size: map-get($FontSize, medium);
            }

        }

        .sabRight{
            width: 37%;

            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 45px;
            }
        }


    }

}

.featuresContainer{
    padding: 128px 64px;
    
    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }

    .featuresMain{
        .featuresTop{
            display: flex;
            margin-top: 48px;

            .featuresTopImages{
                display: flex;
                width: 60%;

                img{
                    width: 50%;
                    margin-right: 10px;
                    border-radius: 35px;
                    object-fit: cover
                }
            }

            .featuresTopText{
                width:50%;
                margin-left: 32px;
                
                .featuresHead{
                    font-size: map-get($FontSize,big );
                }

                .featuresText{
                    font-size: map-get($FontSize, regular );
                }
            }
        }
    }
}