@import './variables';






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    letter-spacing: 0.25px;
}

.headerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;
   
    img{
        width: 150px;
    }

    .navLinks{
        display: flex;
        // text-decoration: none;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
       

        a{
            text-decoration: none;
            color: #313131;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            padding: 7px;
            
        }

        a:is(:link,:active,:visited).active{
            background-color: $accentColor;
            
            color: $primaryColor;
            border-radius: 25px;
            width: 90px;
            transition: all 0.5s ease-in-out;
        }

        .navLink{
            
            font-size: map-get($FontSize, regular);
            cursor: pointer;
        }
    }

    .hamburgerMain{
        
        display: none;

        .hamburger{
                width: 25px;
                height: 3px;
                background-color: #313131;
                margin-top: 3px;
        }
        
    }

}

.heroMain{
    width: 100%;

    img{
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .enquireMain{

        position: relative;
        top: -150px;

        .enquireBtn{
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: map-get($FontSize, medium );
            padding: 10px;
            border: none;
            border-radius: 50px;
            background-color: $primaryColor;
            width: 250px;
            margin: 0px 64px;
            
            .enquireCircleIcon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                // border: none;
                background-color: $secondaryColor;
            
            
            }

            
            &:hover{
                transition: all 0.3s ease-in-out;
                border-bottom: 10px solid black;

                svg{
                    transform: rotate(-20deg);
                }

            }

        }
      
    } 
    
}

.shortAboutContainer{
    padding: 0 64px;

    .shortAboutTop{
        display: flex;
        justify-content: space-between;

        .satLeft{
            width: 50%;
            max-width: 50%;
            border: 1px solid $borderColor;
            border-radius: 45px;
            padding: 30px;
            margin-bottom: 24px;
            margin-right: 10px;
            font-size: map-get($FontSize, big);
           p{
            padding: 10px;

            .formenText{
                color: $accentColor;
            }
           }

           &:hover{
            scale: 0.96;
            transition: 0.2s ease-in-out;
            cursor: pointer;        
    }
        }

        
        
        .satRight{
            width: 50%;
            max-width: 50%;
            text-align: center;
            padding: 5px;
            height: 200px;
            border: 1px solid $borderColor;
            border-radius: 45px;
            color: $primaryColor;
            background-color: $secondaryColor;

            .satTopNumber{
                display: flex;
                justify-content: space-between;
                
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .satTopText{
                text-align: left;
                width: 100%;
                p{
                    margin-top: -10px;
                    margin-left: 20px;
                    font-size: map-get($FontSize, medium );
                }
            }

            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }
        }
    }


    .shortAboutMiddle{
        display: flex;
        justify-content: space-between;

        .samLeft{
            width: 40%;
            max-width: 40%;
            text-align: center;
            height: 220px;
            max-height: 220px;

            img{
                object-fit: cover;
                height: 200px;
                width: 100%;
                border-radius: 55px;
            }
            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }
        }
        .samRight{
            width: 58%;
            max-width: 58%;
            text-align: center;
            padding: 10px;
            height: 200px;
            border: 1px solid $borderColor;
            border-radius: 45px;

            .samTopNumber{
                display: flex;
                justify-content: space-between;
                
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .samTopText{
                text-align: left;
                width: 100%;
                

                p{

                  
                    margin-left: 20px;
                    font-size: map-get($FontSize, medium );
                    
                 
                }
            }
            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }
        }
    }

    .shortAboutBottom{
        display: flex;
        justify-content: space-between;

        .sabLeft{
            padding: 10px;
            width: 30%;
            border: 1px solid $borderColor;
            border-radius: 45px;
            background-color: $accentColor;

            .sabLeftNumber{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .sabLeftText{
                font-size: map-get($FontSize, medium);
            }
            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }

        }

        .sabmLeft{
            padding: 10px;
            width: 30%;
            border: 1px solid $borderColor;
            border-radius: 45px;
            background-color: $primaryColor;

            .sabmLeftNumber{
                display: flex;
                justify-content: space-between;

                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .sabmLeftText{
                font-size: map-get($FontSize, medium);
            }
            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }
        }

        .sabRight{
            width: 37%;

            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 45px;
            }
            &:hover{
                scale: 0.96;
                transition: 0.2s ease-in-out;
                cursor: pointer;        
        }
        }


    }

    

}


.featuresContainer{
    padding: 0 64px;
    margin-top: 128px;
    
    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }

    .featuresMain{
        
        .featuresTop{
            display: flex;
            margin-top: 64px;

            .featuresTopImages{
                display: flex;
                width: 60%;

                img{
                    width: 50%;
                    margin-right: 10px;
                    border-radius: 35px;
                    object-fit: cover
                }
            }

            .featuresTopText{
                width:50%;
                margin-left: 32px;
                padding: 0 32px;
                
                .featuresHead{
                    font-size: map-get($FontSize,big );
                }

                .featuresText{
                    font-size: map-get($FontSize, regular );
                }
            }
        }
    }
}

.videoContainer{

    margin-top: 128px;

    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }
    padding: 0 64px;

    video{
        width: 100%;
        height: 500px;
        border-radius: 45px;
    }
}

.productSliderContainer{
    margin-top: 128px;
    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }

    .owl-Products{
        padding: 0 64px;

        .item{
            border-radius: 25px;
            background-color: rgb(247, 247, 247);
            .itemImage{

                padding: 10px;
               
                border-radius: 20px;
                img{
                    border-radius: 20px;
                    object-fit: cover;
                    height: 200px;
                }
              
            }

            .itemText{
                p{
                    padding: 0 10px;
                    font-size: map-get($FontSize, medium );
                }
            }

            &:hover{
                cursor: pointer;
                scale: 0.98;
                transition: all 0.2s ease-in-out;
                // background-color: antiquewhite;
            }

        }
    }
}

.bigImage{

    padding: 0 64px;
    margin-top: 128px;

    img{
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
        height: 250px;
    }
}
.mailandPhone{
    margin-top: 24px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;

    .mailContainer{
        display: flex;
        align-items: center;
        justify-content: center;

        .mail{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            width: 40px;
            height: 40px;
            border-radius: 25px;
            border: 1px solid $accentColor;
        }

        p{
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}

// ABOUT PAGE

.aboutHeroContainer{
    background-color: $accentColor;
    padding: 0 64px;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{
        margin-top: 32px;
        font-size: map-get($FontSize, headingBig );
        font-weight: bolder;
        text-align: center;
        color: $primaryColor;
    }

    p{
        max-width: 950px;
        color: $primaryColor;
    }
}


.aboutContainer{
    padding: 0 64px;
    margin-top: 32px;
    color: $secondaryColor;

    h3{
        font-weight: bold;
    }
    p{
        line-height: 30px;
    }

    .imageContainer{
        display: flex;
        justify-content: center;

        img{
            width: 50%;
            margin-left: 12px;
           
        }
    }
    
}

.ourMissionContainer{

    padding: 0 64px;
    margin-top: 128px;
   
    img{
        width: 50%;
        height: 300px;
        object-fit: cover;
    }

    h3{
        font-weight: bold;
        color: $accentColor;
    }
    p{
        margin-top: 32px;
        line-height: 30px;
        color: $secondaryColor;
    }

    .imageContainer{

        img{
            width: 100%;
            margin-left: 12px;
           
        }
    }
}

.ourTeamContainer{
    padding: 0 64px;
    margin-top: 128px;

    h3{
        font-weight: bolder;
        color: $accentColor;
    }
}


.owl-Team{
    padding: 0 64px;

    .item{
        border: 1px solid gray;

        p{
            font-size: map-get($FontSize, small );
            padding: 5px;
        }

        img{
            padding: 5px;
        }

        .itemText{
            padding: 5px;
            h6{
                color: $accentColor;
            }
            p{
                margin-top: -10px;
                font-size: map-get($FontSize, small );
            }
        }
    }

}

.ourClientsContainer{
    margin-top: 128px;
    padding: 0 64px;

    h3{
        color: $secondaryColor;
        font-weight: bold;
    }

    .clientsGridContainer{
        .box {
            background: grey;
            border: 1px solid $textColor;
            // padding: 5px;
          }
          .wrapper {
             display: grid;
             grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            grid-column-gap: 6px;
            grid-row-gap:6px;

            .box{

                overflow: hidden;
                height: 300px;
                cursor: pointer;

                img{
                    max-width: 200px;
                    min-width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                img:hover{
                    scale: 1.1;
                    transition: 0.3s all ease-in-out;
                }

                .overlayClients{
                    overflow: hidden;
                    height: 300px;
                    // max-width: 200px;
                    position: relative;
                    top: -300px ;
                    min-width: 100%;
                    width: 100%;
                    display: none;
                    background-color: #313131a6;
                    
                    

                    h3{
                        text-align: center;
                        margin-top: 24px;
                        color: $primaryColor;
                    }

                    p{
                        padding: 20px;
                        color: $primaryColor;
                        font-size: map-get($FontSize, small );
                    }
                }

                .overlayClients.active{
                    display: block;
                    transition: all 0.3s ease-in-out;
                }

                h4{
                    position: relative;
                    top: -60px;
                    color: $primaryColor;
                    text-align: center;
                }

            }
          }
    }
}


.ourProductsHeading{
    padding: 0 64px;
    h3{
        font-weight: bolder;
        margin-top: 128px;
        color: $secondaryColor;
    }
}

.productsGridContainer{
    .productsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
       grid-column-gap: 6px;
       grid-row-gap:6px;
       padding: 0 64px;

       .product {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        padding: 20px 20px 20px 20px;
        p{
            color: $accentColor;
            margin: 0;
        }
        &:hover{
            background-color: $accentColor;
            
            cursor: pointer;
            p{
                color: $primaryColor;
            }
        }
      }
     }
    
      
}



footer{

    margin-top: 128px;
    font-family: 'Signika', sans-serif;
    background-color: $secondaryColor;
    color: white;

    a{
        text-decoration: none;
       
    }

    .footerLinks{
        p{
            margin-top: -10px;
            font-size: map-get($FontSize, regular );
        }
    }
}


// medium Display Screen

@mixin mdDisplay {
    @media screen and (max-width:$mdDisplay) {
        @content;
    }
}


@include mdDisplay{
    .shortAboutContainer{
        .shortAboutTop{
            .satLeft{
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .satRight{
                .satTopText{
                    p{
                    font-size: map-get($FontSize, regular );

                    }
                }
            }
        }   
        
       
        .shortAboutMiddle{
            .samRight{
                .samTopNumber{
                    p{
                        font-size: map-get($FontSize, big );
                    }
                }
                .samTopText{
                    p{
                        font-size: map-get($FontSize, regular );
                    }
                }
            }
        }

        .shortAboutBottom{
            .sabLeft{
                .sabLeftNumber{
                    p{
                        font-size: map-get($FontSize, big );

                    }
                }

                .sabLeftText{
                    p{
                        font-size: map-get($FontSize, regular );

                    }
                }
            }

            .sabmLeft{
                .sabmLeftText{
                    p{
                        font-size: map-get($FontSize, regular );
                    }
                }
            }
        }


    }

    
    
 }

//  tablet Display Screen
@mixin tabDisplay {
    @media screen and (max-width:$tabDisplay) {
        @content;
    }
}


@include tabDisplay{

    .headerMain{
        .navLinks{
            // display: none;
            position: fixed;
            right: 100%;
            top: 90px;
            gap: 0;
            flex-direction: column;
            background-color: $primaryColor;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            padding: 5px;

           
        }

        .navLinks.active{
            right: 0;
        }

        .hamburgerMain{
        
            display: flex;
            flex-direction: column;
    
            
        }

        .hamburgerMain.active .hamburger:nth-child(1){
            transform: translateY(8px) rotate(45deg);
            transition: 0.1s;
     }

     .hamburgerMain.active .hamburger:nth-child(2){
         opacity: 0;
     }

     .hamburgerMain.active .hamburger:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: 0.1s;
    }


    }
    

    .shortAboutContainer{
        
        .shortAboutTop{
            flex-direction: column;
            width: 100%;

            .satLeft{
                width: 100%;
            }

            .satLeft{
                width: 100%;
                max-width: 100%;
                font-size: map-get($FontSize, big);
            }
            .satRight{
                width: 100%;
                max-width: 100%;
                font-size: map-get($FontSize, big);
                margin-top: -10px;

                p{
                    padding: 15px;
                }
            }
        }
        

        .shortAboutMiddle{
            margin-top: 10px;

            .samLeft{
              
                img{
                    border-radius: 25px;
                }
        }
            .samRight{
                border-radius: 25px;
                height: auto;
                
                .samTopText{
                    margin-top: -10px;
                }
            }
         }
       
         .shortAboutBottom{
            margin-top: 10px;
            flex-direction: column;

            .sabLeft{
                width: 100%;
                height: auto;
                P{
                    padding: 10px;
                }
            }

            .sabmLeft{
                width: 100%;
                margin-top: 10px;
                p{
                    padding: 10px;
                }
            }

            .sabRight{
                width: 100%;
                margin-top: 10px;
               
            }
         }
        
    }

    
.featuresContainer{
    padding: 0 64px;
    margin-top: 128px;
    
    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }

    .featuresMain{
        
        .featuresTop{
            flex-direction: column;
            margin-top: 12px;

            .featuresTopImages{
                display: flex;
                width: 100%;
                margin-top: 24px;
                margin-bottom: 24px;

                img{
                    width: 50%;
                    margin-right: 10px;
                    border-radius: 35px;
                    object-fit: cover
                }
            }

            .featuresTopText{
                width:100%;
                margin-left: 0px;
                margin-top: 12px;
                padding: 0;
                
                .featuresHead{
                    font-size: map-get($FontSize,big );
                }

                .featuresText{
                    font-size: map-get($FontSize, regular );
                }
            }
        }
    }
}

.videoContainer{

    margin-top: 64px;

    .featuresHeading{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: map-get($FontSize, big );
    }
    .bubble{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
    }
    padding: 0 64px;

    video{
        width: 100%;
        height: 500px;
        border-radius: 45px;
    }
}


    
 }


 //Mobile Display

 @mixin mobileDisplay {
    @media screen and (max-width:$mobileDisplay) {
        @content;
    }
}

 @include mobileDisplay{

    .headerMain{
        .navLinks{
            // display: none;
            position: fixed;
            right: 100%;
            top: 90px;
            gap: 0;
            flex-direction: column;
            background-color: $primaryColor;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            padding: 5px;

           
        }

        .navLinks.active{
            right: 0;
        }

        .hamburgerMain{
        
            display: flex;
            flex-direction: column;
    
            
        }

        .hamburgerMain.active .hamburger:nth-child(1){
            transform: translateY(8px) rotate(45deg);
            transition: 0.1s;
     }

     .hamburgerMain.active .hamburger:nth-child(2){
         opacity: 0;
     }

     .hamburgerMain.active .hamburger:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: 0.1s;
    }


    }
    

    .shortAboutContainer{

        padding: 0 24px;

        .shortAboutTop{
            flex-direction: column;
            width: 100%;
            padding: 10px;

            .satLeft{
                width: 100%;
                border-radius: 15px;

                padding: 10px;
                p{
                    padding: 0;
                }
            }

            .satLeft{
                width: 100%;
                max-width: 100%;
                font-size: map-get($FontSize, medium);
            }
            .satRight{
                width: 100%;
                max-width: 100%;
                font-size: map-get($FontSize, medium);
                margin-top: -10px;
                border-radius: 15px;

                p{
                    padding: 5px;
                }
            }
        }
        

        .shortAboutMiddle{
            margin-top: 10px;
            flex-direction: column;
            width: 100%;

            .samLeft{
              width: 100%;
                    min-width: 100%;
                img{
                    border-radius: 15px;
                    width: 100%;
                    min-width: 100%;
                }
        }
            .samRight{
                border-radius: 25px;
                height: auto;
                width: 100%;
                min-width: 100%;
                border-radius: 15px;

                .samTopText{
                    margin-top: -10px;
                    width: 100%;
                    min-width: 100%;
                    border-radius: 15px;
                }
            }
         }
       
         .shortAboutBottom{
            margin-top: 10px;
            flex-direction: column;

            .sabLeft{
                width: 100%;
                height: auto;
                border-radius: 15px;
                P{
                    padding: 10px;
                }
            }

            .sabmLeft{
                width: 100%;
                margin-top: 10px;
                border-radius: 15px;    
                p{
                    padding: 10px;
                    border-radius: 15px;
                }
            }

            .sabRight{
                width: 100%;
                margin-top: 10px;
                border-radius: 15px;

                img{
                    border-radius: 15px;
                }
               
            }
         }
    }  

    .featuresContainer{
        padding: 0 32px;
        margin-top: 128px;
        
        .featuresHeading{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: map-get($FontSize, medium );
        }
        .bubble{
            border-radius: 50px;
            width: 10px;
            height: 10px;
            background-color: $accentColor;
        }
    
        .featuresMain{
            
            .featuresTop{
                flex-direction: column;
                margin-top: 12px;
    
                .featuresTopImages{
                    display: flex;
                    flex-direction: column;
                    min-width: 100%;
                    margin-top: 24px;
                    margin-bottom: 24px;
    
                    img{
                        width: 100%;
                        margin-right: 10px;
                        border-radius: 35px;
                        object-fit: cover;
                        margin-top: 12px;
                    }
                }
    
                .featuresTopText{
                    width:100%;
                    margin-left: 0px;
                    margin-top: 12px;
                    padding: 0;
                    
                    .featuresHead{
                        font-size: map-get($FontSize,medium );
                    }
    
                    .featuresText{
                        font-size: map-get($FontSize, small );
                    }
                }
            }
        }
    }
    
    .videoContainer{
    
        margin-top: 64px;
    
        .featuresHeading{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: map-get($FontSize, small );
        }
        .bubble{
            border-radius: 50px;
            width: 10px;
            height: 10px;
            background-color: $accentColor;
        }
        padding: 0 32px;
    
        video{
            width: 100%;
            height: 300px;
            border-radius: 45px;
        }
    }

    .productSliderContainer{
        margin-top: 64px;
        .featuresHeading{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: map-get($FontSize, medium );
        }
        .bubble{
            border-radius: 50px;
            width: 10px;
            height: 10px;
            background-color: $accentColor;
        }
    
        .owl-Products{
            padding: 0 32px;
    
            .item{
                border-radius: 25px;
                background-color: rgb(247, 247, 247);
                .itemImage{
    
                    padding: 10px;
                   
                    border-radius: 20px;
                    img{
                        border-radius: 20px;
                        object-fit: cover;
                        height: 200px;
                    }
                  
                }
    
                .itemText{
                    p{
                        padding: 0 10px;
                        font-size: map-get($FontSize, medium );
                    }
                }
    
                &:hover{
                    cursor: pointer;
                    scale: 0.98;
                    transition: all 0.2s ease-in-out;
                    // background-color: antiquewhite;
                }
    
            }
        }
    }
  
    .mailandPhone{
        margin-top: 24px;
        padding: 0 64px;
        display: flex;
        flex-direction: column;
    
        .mailContainer{
            display: flex;
            align-items: center;
            justify-content: flex-start;
    
            .mail{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: 25px;
                border: 1px solid $accentColor;
            }
    
            p{
                margin-top: 10px;
                margin-left: 10px;
            }
        }
    }

    .aboutHeroContainer{
        padding: 0 32px;
        h1{
            margin-top: 56px;
            font-size: map-get($FontSize, big );
        }

        p{
            font-size: map-get($FontSize, small );
            line-height: 25px;
            margin-top: 12px;

        }
    }

    .aboutContainer{
        padding: 0 32px;
        h3{
            font-size: map-get($FontSize, medium );
        }

        p{
            font-size: map-get($FontSize, small );
            line-height: 25px;
            margin-top: 12px;
        }
    }

    .ourMissionContainer{
        margin-top: 64px;
        padding: 0 32px;

        h3{
            font-size: map-get($FontSize, medium );
            
        }
        img{
            width: 100%;
            height: 150px;
        }

        p{
            font-size: map-get($FontSize, small );
            line-height: 25px;
            margin-top: 12px;
        }

        .imageContainer{
            img{
                margin-left: 0;
            }
        }
    }

    .ourTeamContainer{
        padding:  0 32px;

        .owl-Team{
            padding: 0;
        }
    }
 }