@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

.headerMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;

    img{
        width: 150px;
    }

    .navLinks{
        display: flex;
        // text-decoration: none;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

        .navLink{
            margin-left: 20px;
            font-size: map-get($FontSize, regular);
            cursor: pointer;
        }
    }
}

.heroMain{
    width: 100%;

    img{
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .enquireMain{

        position: relative;
        top: -150px;

        .enquireBtn{
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: map-get($FontSize, medium );
            padding: 10px;
            border: none;
            border-radius: 50px;
            background-color: $primaryColor;
            width: 250px;
            margin: 0px 64px;
            
            .enquireCircleIcon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                // border: none;
                background-color: $secondaryColor;
            
            
            }

            
            &:hover{
                transition: all 0.3s ease-in-out;
                border-bottom: 10px solid black;

                svg{
                    transform: rotate(-20deg);
                }

            }


        }
      
    } 
    
}

.shortAboutContainer{
    padding: 0 64px;

    .shortAboutMiddle{
        display: flex;
        justify-content: space-between;

        .samLeft{
            width: 40%;
            max-width: 40%;
            text-align: center;
            height: 300px;
            max-height: 300px;

            img{
                object-fit: cover;
                height: 200px;
                width: 100%;
                border-radius: 55px;
            }
        }
        .samRight{
            width: 58%;
            max-width: 58%;
            text-align: center;
            padding: 10px;
            height: 200px;
            border: 1px solid gray;
            border-radius: 45px;

            .samTopNumber{
                display: flex;
                justify-content: space-between;
                
                p{
                    font-size: map-get($FontSize, big );
                }
            }

            .samTopText{
                text-align: left;
                width: 100%;
                

                p{

                    margin-top: -10px ;
                    margin-left: 20px;
                    font-size: map-get($FontSize, medium );
                }
            }
        }
    }

}